node_modules
.env
.env.local
.env.backup
.DS_Store
bin
.vscode
.cto-skill

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# deployment files
# /deployments
# /scripts

# Foundry compiler files
cache/
cache_forge/
out/

# Forge coverage
lcov.info

# Foundry scripts
script
broadcast
.qa-skill/
/scripts
.biz-dev-skill/
.orchestrator-skill/
.product-squad-skill/
.security-engineer-skill/
