node_modules
.env
.env.local
.env.backup
.DS_Store
bin
.vscode

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# deployment files
# /deployments
# /scripts

# Foundry compiler files
cache/
cache_forge/
out/
/build/
/.tron-contracts/

# Forge coverage
lcov.info

# Foundry scripts
script
broadcast
